In [16]:
import os
import pandas as pd

# 이미지가 저장된 폴더 경로
folder_path = '/home/elicer/FIshing_vessel/processed_images'

# 파일 이름에서 정보를 추출하여 데이터프레임 생성
data = []
for file_name in os.listdir(folder_path):
    if file_name.endswith('.jpg','.png'):
        name_without_extension = file_name.

SyntaxError: incomplete input (1428145216.py, line 9)

In [23]:
import os
import pandas as pd

image_dir = '/home/elicer/FIshing_vessel/processed_images'  # 경로 수정 필요
filenames = [f for f in os.listdir(image_dir) if f.endswith(('.jpg', '.png'))]

split_filenames = [filename.replace('.jpg', '').replace('.png', '').split() for filename in filenames]
df = pd.DataFrame(split_filenames)
print(df)

            0     1   2
0      001_1.  낚시어선  조업
1      002_1.   범장망  조업
2      003_1.  낚시어선  표류
3      004_1.  등광조망  이동
4      005_1.  등광조망  표류
...       ...   ...  ..
1576   998_4.   안강망  조업
1577   999_4.    연승  표류
1578   029_1.  등광조망  조업
1579   553_2.  등광조망  조업
1580  664_23.  등광조망  이동

[1581 rows x 3 columns]

In [26]:
df.isnull().sum()

0    0
1    0
2    0
dtype: int64

In [28]:
df = df[[1,2]]

In [32]:
df.rename(columns={
    1 : '선종',
    2 : '상태'
}, inplace = True)
df

/tmp/ipykernel_29675/3474261658.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={

        선종  상태
0     낚시어선  조업
1      범장망  조업
2     낚시어선  표류
3     등광조망  이동
4     등광조망  표류
...    ...  ..
1576   안강망  조업
1577    연승  표류
1578  등광조망  조업
1579  등광조망  조업
1580  등광조망  이동

[1581 rows x 2 columns]

In [33]:
vessel_mapping = {
    '타망': 0,   # 중국 어선
    '유망': 1,   # 중국 어선
    '등광조망': 2,  # 중국 어선
    '범장망': 3,  # 중국 어선
    '안강망': 4,   # 한국 어선
    '연승': 5,   # 한국 어선
    '통발': 6,   # 한국 어선
    '저인망': 7,  # 한국 어선
    '낚시어선': 8, # 한국 어선
    '채낚기': 9  # 한국 어선
}
chinese_vessels = ['타망', '유망', '등광조망', '범장망'] # numeric = 0
korean_vessels = ['안강망', '연승', '통발', '저인망', '낚시어선', '채낚기'] #numeric = 1
state_mapping = {'조업':0,'이동':1,'표류':2}
df['state'] = df['상태'].str.strip()

df['vessel_type'] = df['선종'].map(vessel_mapping)
df['nation_type'] = df['선종'].apply(lambda x: 1 if x in korean_vessels else 0)
df['state'] = df['state'].apply(lambda x: x if x in state_mapping else None)
df['state'] = df['state'].map(state_mapping)

print(df)

        선종  상태  state  vessel_type  nation_type
0     낚시어선  조업      0            8            1
1      범장망  조업      0            3            0
2     낚시어선  표류      2            8            1
3     등광조망  이동      1            2            0
4     등광조망  표류      2            2            0
...    ...  ..    ...          ...          ...
1576   안강망  조업      0            4            1
1577    연승  표류      2            5            1
1578  등광조망  조업      0            2            0
1579  등광조망  조업      0            2            0
1580  등광조망  이동      1            2            0

[1581 rows x 5 columns]

In [34]:
df.isnull().sum()

선종             0
상태             0
state          0
vessel_type    0
nation_type    0
dtype: int64

In [35]:
df.to_csv('preprocessed_processed_image.csv', index=False)