In [21]:
import pandas as pd

df = pd.read_csv('data.csv')
df

      Unnamed: 0    선종  상태
0              0  낚시어선  이동
1              1  낚시어선  조업
2              2  낚시어선  표류
3              3  등광조망  이동
4              4  등광조망  표류
...          ...   ...  ..
1576        1576   범장망  이동
1577        1577   범장망  표류
1578        1578    유망  표류
1579        1579    타망  조업
1580        1580    타망  표류

[1581 rows x 3 columns]

In [22]:
df.isnull().sum()

Unnamed: 0    0
선종            0
상태            0
dtype: int64

In [23]:
vessel_mapping = {
    '타망': 1,   # 중국 어선
    '유망': 2,   # 중국 어선
    '등광조망': 3,  # 중국 어선
    '범장망': 4,  # 중국 어선
    '안강망': 5,   # 한국 어선
    '연승': 6,   # 한국 어선
    '통발': 7,   # 한국 어선
    '저인망': 8,  # 한국 어선
    '낚시어선': 9, # 한국 어선
    '채낚기': 10  # 한국 어선
}
chinese_vessels = ['타망', '유망', '등광조망', '범장망'] # numeric = 0
korean_vessels = ['안강망', '연승', '통발', '저인망', '낚시어선', '채낚기'] #numeric = 1
state_mapping = {'조업':1,'이동':2,'표류':3}
df['state'] = df['상태'].str.strip()

df['vessel_type'] = df['선종'].map(vessel_mapping)
df['nation_type'] = df['선종'].apply(lambda x: 1 if x in korean_vessels else 0)
df['state'] = df['state'].apply(lambda x: x if x in state_mapping else None)
df['state'] = df['state'].map(state_mapping)

print(df)

      Unnamed: 0    선종  상태  state  vessel_type  nation_type
0              0  낚시어선  이동      2            9            1
1              1  낚시어선  조업      1            9            1
2              2  낚시어선  표류      3            9            1
3              3  등광조망  이동      2            3            0
4              4  등광조망  표류      3            3            0
...          ...   ...  ..    ...          ...          ...
1576        1576   범장망  이동      2            4            0
1577        1577   범장망  표류      3            4            0
1578        1578    유망  표류      3            2            0
1579        1579    타망  조업      1            1            0
1580        1580    타망  표류      3            1            0

[1581 rows x 6 columns]

In [24]:
df.isnull().sum()

Unnamed: 0     0
선종             0
상태             0
state          0
vessel_type    0
nation_type    0
dtype: int64

In [25]:
df.to_csv('preprocessed_whole_dataset.csv', index=False)